= simple_form_for(order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :total
    = f.input :tax_amount
    = f.input :delivery_fee
    = f.input :cache_on_delivery_fee
    = f.input :destination_name
    = f.input :destination_zip_code
    = f.input :destination_address
    = f.input :delivery_date
    = f.input :delivery_time_slot, collection: Order.delivery_time_slots

  .form-actions
    = f.button :submit
