.panel.panel-default
  .panel-heading
    %h1= t('.orders')
  .panel-body
    %table.table
      %thead
        %tr
          %th= t('.order_date_time')
          %th= t('.order_items')
          %th= t('.total')
          %th

      %tbody
        - @orders.each do |order|
          %tr
            %td= l order.created_at
            %td= order.items.map(&:product_name).join(',').truncate(70, separator: ' ')
            %td= number_to_currency order.total
            %td= link_to t('helpers.links.show'), order, class: 'btn btn-default'
