.panel.panel-default
  .panel-heading
    %h1= t('activerecord.models.order')
  .panel-body
    .col-md-8
      %h3= t('.order_details')
      = render partial: 'order_detail', locals: { order: @order }
    .col-md-4
      .panel.panel-info
        .panel-heading= t('.total')
        .panel-body
          = number_to_currency @order.total
      .panel.panel-primary
        .panel-heading= t('.destination')
        .panel-body
          = simple_form_for @order do |f|
            = f.error_notification
            = f.input :destination_zip_code, input_html: { maxlength: 7 }
            = f.input :destination_name
            = f.input :destination_address
            = f.input :remember_destination, as: :boolean
            = f.input :delivery_date, as: :string, input_html: { class: 'datepicker'}, hint: '3営業日以降14営業日まで選択できます'
            = f.input :delivery_time_slot, collection: Order.delivery_time_slots.keys
            = f.submit t('.submit_order'), class: 'btn btn-primary'
