%p#notice= notice
.panel.panel-default
  .panel-body
    .row
      .col-md-8
        = render partial: 'order_detail', locals: { order: @order }
      .col-md-4
        .panel.panel-default
          .panel-body
            .row
              .col-md-5.text-right
                %b= t('.order_date')
              .col-md-7
                %p= @order.created_at
            .row
              .col-md-5.text-right
                %b= t('.destination_name')
              .col-md-7
                %p= @order.destination_name
            .row
              .col-md-5.text-right
                %b= t('.destination_zip_code')
              .col-md-7
                %p= @order.destination_zip_code
            .row
              .col-md-5.text-right
                %b= t('.destination_address')
              .col-md-7
                %p= @order.destination_address
    = link_to 'Edit', edit_order_path(@order)
