= simple_form_for([ :admin, @admin_product ]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :price
    = f.input :hidden
    = f.input :sort_order
    = f.input :image

  .form-actions
    = f.button :submit
