%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b Status:
  = @product.status
%p
  %b Sort order:
  = @product.sort_order
%p
  %b Image:
  = image_tag @product.image.url unless @product.image.blank?

= link_to 'Edit', edit_admin_product_path(@product)
\|
= link_to 'Back', admin_products_path
