= simple_form_for(@order_item) do |f|
  = f.error_notification

  .form-inputs
    = f.association :order
    = f.association :product
    = f.input :product_name
    = f.input :price
    = f.input :quantity

  .form-actions
    = f.button :submit
