%tr
  %td
    .col-md-5
      = product_image_tag(order_item.image.thumb, width: '100%')
    .col-md-7
      = link_to order_item.product_name, product_path(order_item.product)
  %td
    = number_to_currency(order_item.product_price)
  %td
    = order_item.quantity
  %td{align: :right}
    = number_to_currency order_item.total
