= simple_form_for( [:admin, user] ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :destination_name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.input :destination_zip_code
    = f.input :destination_address
    = f.input :is_admin?, as: :boolean , label: '管理者'
  .form-actions
    = f.button :submit
