%h1 ユーザー管理

%table.table
  %thead
    %tr
      %th 名前
      %th メールアドレス
      %th 郵便番号
      %th 住所
      %th 管理者
      %th

  %tbody
    - @admin_users.each do |admin_user|
      %tr
        %td= admin_user.name
        %td= admin_user.email
        %td= admin_user.zip_code
        %td= admin_user.address
        %td= admin_user.is_admin?
        %td
          %span= link_to 'Show', admin_user_path(admin_user), class: 'btn btn-primary'
          %span= link_to 'Edit', edit_admin_user_path(admin_user), class: 'btn btn-info'
          %span= link_to 'Destroy', admin_user_path(admin_user), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
