.panel.panel-default
  .panel-body
    %p
      %b Email:
      = @user.email
    %p
      %b Email:
      = l(@user.confirmed_at) if @user.confirmed_at
    %p
      %b Name:
      = @user.destination_name
    %p
      %b Zip Code:
      = @user.destination_zip_code
    %p
      %b Address:
      = @user.destination_address
    %p
      %b Admin:
      = @user.is_admin?

    = link_to t('helpers.links.edit'), edit_admin_user_path(@user), class: 'btn btn-default'
