%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Price
      %th Hidden
      %th Sort order
      %th Image
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
        %td= product.hidden
        %td= product.sort_order
        %td= product.image
        %td= link_to 'Show', product
