- content_for :title do
  = "#{@product.name} - #{t('brand')}"
.panel.panel-default.container
  .panel-body
    .row
      .col-md-5
        %p.text-center= product_image_tag @product.image
      .col-md-7
        .row
          %p
            %b= t('activerecord.attributes.product.name')
            %span= @product.name
          %p
            %b= t('activerecord.attributes.product.description')
            %span= @product.description
          %p
            %b= t('activerecord.attributes.product.price')
            %span= number_to_currency(@product.price)
          %p= link_to 'Add to cart', cart_items_path( product_id: @product.id ), method: :post, class: 'btn btn-primary'
